<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.digitalfeed.pdroidalternative"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <!-- 
    <permission android:label="@string/writePrivacySettings_label" android:name="android.privacy.WRITE_PRIVACY_SETTINGS" android:protectionLevel="signature" android:permissionGroup="android.permission-group.PERSONAL_INFO" android:description="@string/writePrivacySettings_description" />
    -->
    <uses-permission android:name="android.privacy.WRITE_PRIVACY_SETTINGS" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!-- 		<receiver android:name=".IntentHandler.PackageChange">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".IntentHandler.PrivacyNotification">
			<intent-filter>
                <action android:name="com.privacy.pdroid.PRIVACY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>-->
    </application>

</manifest>